*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont{
  padding: 30px 30px;
  width: 50%;
  min-height: 100vh;
}
.inputsCont{
  background-color: orange;
  color: white;
  padding: 30px 30px;
  text-align: left;
}
input{
  float: right;
  outline: none;
  border: none;
  height: 20px;
}
button{
  background-color: white;
  color: orange;
  width: 70px;
  height: 30px;
  outline: none;
  margin-top: 20px;
  border: none;
}
p{
  text-align: left;
  font-size: 25px;
  color: orange;
}
table{
  margin: auto;
  width: 60%;
}
td:nth-child(1){
  text-align: center;
  font-weight: bold;
}
td:nth-child(2){
  text-align: left;
}
td{
  border-bottom: 1px gray solid;
  height: 40px;
}